<p>
<mat-toolbar color="primary">Current Player: {{ player }} </mat-toolbar>
</p>
<p>
<button mat-raised-button color="warn" (click)="newGame()">Start new Game, Click Here!</button>
</p>
<p>
<mat-card color="FF1744" *ngIf="winner" >

  Player {{ winner }} won the game!
  <button mat-raised-button color="primary" *ngIf="winner == 'X'">{{ winner }}</button>
  <button mat-raised-button color="accent" *ngIf="winner == 'O'">{{ winner }}</button>
</mat-card>
</p>

<main>
  <app-square
    *ngFor="let val of squares; let i = index"
    [value]="val"
    (click)="makeMove(i)">

  </app-square>
</main>



